<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>同步视图绑定的数据</title>
</head>

<body>
    <input type="text" id="txt">
    <div id="tip">...</div>
    <script>
        let txt = document.getElementById("txt");
        let tip = document.getElementById("tip");
        let obj = {
            name: ""
        }
        let temp = {}
        let propName = "name";
        Object.defineProperty(obj, propName, {
            set(v) {
                tip.innerHTML = v;
                temp[propName] = v;
            },
            get() {
                return temp[propName];
            }
        })
        txt.addEventListener("keyup", function () {
            obj[propName] = this.value;
        })
        
    </script>
</body>

</html>