<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>同步视图绑定的数据</title>
</head>

<body>
    <input type="text" id="txt">
    <div id="tip">...</div>
    <script>
        // var obj = new Object;  //obj = {}
        // obj.name = "张三";  //添加描述
        // obj.say = function(){};  //添加行为

        // var obj = {};
        // var initValue = 'hello';
        // Object.defineProperty(obj, "name2", {
        //     get: function () {
        //         //函数在获取值时触发
        //         return initValue;
        //     },
        //     set: function (value) {
        //         //函数在设置值时触发,新值通过参数 value 获取
        //         initValue = value;
        //     }
        // });
        // // 获取初始值
        // console.log(obj.name2);  // 输出"hello"
        // // 设置新值
        // obj.name2 = '李四';
        // // 输出设置的值
        // console.log(obj.name2); // 输出"李四"

        let txt = document.getElementById("txt");
        let tip = document.getElementById("tip");
        let obj = {
            name: ""
        }
        let temp = {}
        let propName = "name";
        Object.defineProperty(obj, propName, {
            set(v) {
                tip.innerHTML = v;
                temp[propName] = v;
            },
            get() {
                return temp[propName];
            }
        })
        txt.addEventListener("keyup", function () {
            obj[propName] = this.value;
        })

    </script>
</body>

</html>